body{
    margin:16px;
    font:14pt Roboto, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;
    background-color: #616161;
  }
  h1{
    display:block;
    margin:-16px -16px 16px;
    padding:32px;
    background:#616161;
    box-sizing:border-box;
    color:#fff;
    font-size:32pt;
    font-weight:300;
  }
  #canvas{
    box-shadow:0 0 8px #666;
  }

.options{
      width: 600px;
      height: 150px;
      border: 1px solid black;
  }

  .baloon{
    width: auto;
    height: auto;
    border: 1px solid black;
    margin: 0px;
    padding: 5px;
  }

  .baloon p{
    text-align: center;
  }